.vscode/**
.vscode-test/**
.claude/**
src/**
test/**
node_modules/**
!node_modules/playwright-core/**
.gitignore
.eslintrc.cjs
.prettierrc
tsconfig*.json
vite.config.*.ts
vitest.config.ts
**/*.map
**/*.ts
!dist/**
CONTRIBUTING.md
media/*.gif
.github/**
